@mixin button_color($options: ()) {
	$configuration: map-merge((
		_color: #fff,
		_background: #000
	), $options);

	// Убедимся, что _color и _background являются цветом
	@if type-of(map-get($configuration, _color)) != color or type-of(map-get($configuration, _background)) != color {
		@warn "Either `#{_color}` or `#{_background}` is not a color for `button_color`";
	}

	color: map-get($configuration, _color);
	background-color: map-get($configuration, _background);
}

.#{$btn-name} {
	position: relative;
	display: inline-block;
	background-image: none;
	border: 1px solid transparent;
	//@include border-radius(0.188em/*3px*/);
	@include border-radius(0);
	padding: 5px 12px;
	min-width: 80px;
	touch-action: manipulation;
	user-select: none;
	cursor: pointer;
	@include box-sizing(border-box);
	outline: none;

	// Стили шрифта
	font-family: inherit; /*!< Необходимо наследовать значение свойства у родительского элемента */
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;

	& > span {
		position: relative;
	}

	@include element("label") {
		position: relative;
	}

	& + .btn {
		margin-left: 5px;
	}
}
