.btn_lg {
	padding: 9px 12px;
	font-size: 16px;
	line-height: 24px;
}

.btn_md {
	padding: 5px 12px;
	font-size: 13px;
	line-height: 20px;
}

.btn_sm {
	padding: 4px 12px;
	font-size: 12px;
	line-height: 18px;
}

.btn_xs {
	padding: 1px 12px;
	font-size: 12px;
	line-height: 18px;
}