$gray: #efefef;
$gray-dark: #e2e2e2;
$black: #39464e;
$blue: #148fba;//#2796db;
$blue-dark: #0f6c8c;//#228dd0;
$green: #57b658;//#27db90;
$green-dark: #429843;
$yellow: #ffe55c; // #ffdb3c
$red: #ff5027;

$easing: cubic-bezier(.162, .85, .45, 1);