$btn-name: 'btn' !default;
$btn-hover: lighten 10% !default;
$btn-easing: cubic-bezier(.162, .85, .45, 1) !default;

/**
 * Палитра цветов.
 * @type Map
 */
$btn-schemes: (
	default: #7f8c8d,
	success: #27ae60,
	danger: #c0392b,
	warning: #f1c40f,
	info: #2980b9
) !default;
